/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SuisseIntl';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), url('./assets/fonts/SuisseIntl-Regular.woff');
  }
  html {
    @apply font-suisseIntl text-black;
  }
  body {
    @apply bg-black;
  }
  h1 {
    @apply typo-h1;
  }

  h2 {
    @apply typo-h2;
  }

  h3 {
    @apply typo-h3;
  }
}

@layer components {
  .typo-h1 {
    @apply text-4xl sm:text-[7rem]/[6.5rem];
  }
  .typo-h2 {
    @apply text-4xl sm:text-6xl;
  }
  .typo-h3 {
    @apply text-2xl sm:text-6xl;
  }
  /* buttons */
  .btn-primary {
    @apply flex flex-row justify-center items-center w-max whitespace-nowrap h-10 px-5 bg-black text-primary before:text-primary before:content-['\2192'] before:font-['Arial'] before:text-xl before:mr-10 before:mb-[2px];
  }
  .btn-primary--header {
    @apply btn-primary sm:min-w-[16rem] justify-end before:mr-16;
  }
  .btn-secondary {
    @apply btn-primary bg-primary text-black before:text-black;
  }
  .btn-form-apply {
    @apply bg-transparent after:content-['\2192'] after:font-['Arial'] after:text-xl;
  }
}